.App {
    --primary-color: #590016;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .dark {
    background: var(--primary-color);
  }